$font-family: 'Lato', sans-serif;
$primary-color: #539FE0 ;
$border-color : rgba(206, 206, 206, 0.6);
$primary-dark-color: #437DAF ;
$site-bg : rgba(245, 245, 245, 0.8);
$base-font-size: 14px;
$link-hover-color : #4d89be;
$title-blue : rgba(0, 33, 82, 0.8);
