.dashboard-profile-page {
  margin-top: space(3);
  margin-bottom: space(3);

  .section-title {

    font-weight: 700;
    color: $title-blue;
    font-size: 24px;

    &.second-title {
      font-size: 22px;
      margin-left: 0;

    }
  }
}

.user-avatar {
  @apply flex justify-center items-center cursor-pointer;
  margin-top: space(2);

  .user-avatar-img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    //font-size: 14px;
    color: black;
    object-fit: cover;
    object-position: center center;
    border: 1px solid $site-bg;
  }
}


