.quiz-stepper-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    display: block;
  }

  svg {
    display: block;
  }
}

.question-container {
  .question-number {
    font-weight: 700;
    color: $title-blue;
    font-size: 22px;
  }

  .question-description {
    font-size: 15px;
  }
}

.question-nav {
  @apply relative flex items-center my-6;
  overflow-y: hidden;
  overflow-x: auto;


  .question-nav-item {
    @apply relative flex items-center justify-center border-none font-bold;
    padding: 14px 21px;
    white-space: nowrap;
    color: #fff;
    background-color: $primary-color;
    border-radius: 50%;

    &.active {
      border: 2px solid #685b5b;
    }

    &:not(:last-child) {
      @apply mr-3;
    }
  }
}
