<div class="auth-layout-container">
  <div class="auth-form-container">


    <ion-card>

      <ion-card-header>
        <h1 class="auth-title"> Reset Password </h1>

        <hr class="mt-4">
      </ion-card-header>

      <ion-card-content>


        <ng-container *ngIf="errors">
          <div class="alert alert-error ">Please complete the form correctly !</div>
          <ul class="list-none pl-1 mb-4">
            <li *ngFor="let error of errors" class="error" style="margin-top: 4px;">{{ error }}</li>
          </ul>
        </ng-container>

        <form  class="mt-4 mb-5" [formGroup]="form"  (submit)="resetPassword()">

          <div class="form-group">
            <label for="token">Redefinition Code</label>
            <div class="control-wrapper">
              <input name="email" class="form-control" formControlName="token" type="text" id="token"/>
            </div>
            <ng-container *ngIf="!controls.token.pristine && controls.token.invalid">

              <p class="error" style="margin-top: 4px;"
                 *ngIf="controls.token.errors && controls.token.errors.required">
                {{ 'AUTH.RESET_PASSWORD.MESSAGES.ERRORS.TOKEN.REQUIRED' | translate }}
              </p>

            </ng-container>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <div class="control-wrapper">
              <input name="password" formControlName="password" class="form-control" type="password" id="password"/>
            </div>

            <ng-container *ngIf="!controls.password.pristine && controls.password.invalid">

              <p class="error" style="margin-top: 4px;"
                 *ngIf="controls.password.errors && controls.password.errors.required">
                {{ 'AUTH.SIGN_UP.MESSAGES.ERRORS.PASSWORD.REQUIRED' | translate }}
              </p>

            </ng-container>
          </div>

          <div class="form-group">
            <label for="password_confirmation">Password Confirmation</label>
            <div class="control-wrapper">
              <input name="password_confirmation" formControlName="password_confirmation" class="form-control"
                     type="password" id="password_confirmation"/>
            </div>
            <ng-container *ngIf="!controls.password_confirmation.pristine && controls.password_confirmation.invalid">

              <p class="error" style="margin-top: 4px;"
                 *ngIf="controls.password_confirmation.errors && controls.password_confirmation.errors.required">
                {{ 'AUTH.SIGN_UP.MESSAGES.ERRORS.CONFIRM_PASSWORD.REQUIRED' | translate }}
              </p>

            </ng-container>
          </div>

          <button type="submit" class="btn mt-6 btn-primary btn-full btn-radius" [disabled]="processing"> Reset Password</button>
        </form>
        <div class="text-center font-bold">
          <ion-nav-link routerLink="/auth" class="primary-color"> Back to Sign In page</ion-nav-link>
        </div>
      </ion-card-content>
    </ion-card>


  </div>


</div>
