<div class="auth-layout-container">
  <div class="auth-form-container">

    <ion-card>
      <ion-card-header>
        <h1 class="auth-title"> Verify Email </h1>

        <hr class="mt-4">
      </ion-card-header>
      <ion-card-content>



        <p class="text-center font-semibold primary-color mt-5">
          Thanks for signing up! Before getting started, could you verify your email address by clicking
          on the link we just emailed to you? If you didn't receive the email, we will gladly send you another.
        </p>

        <form action="" class="mt-6">


          <button type="submit" class="btn mt-8 btn-primary btn-full btn-radius" > Resend verify email</button>
          <a href="#" class="btn btn-gray btn-radius btn-full mt-5">Logout</a>
        </form>


      </ion-card-content>
    </ion-card>

  </div>


</div>
