<div class="auth-layout-container">
  <div class="auth-form-container">

    <ion-card>
      <ion-card-header>
        <h1 class="auth-title"> Forgot Password </h1>


      </ion-card-header>
      <ion-card-content>

        <hr class="mb-4">
        <p class="text-center font-semibold primary-color mt-5">
          Forgot your password? No problem. Just let us know your email address and we will
          email you a password reset link that will allow you to choose a new one
        </p>

        <form action="" class="mt-6 mb-5" [formGroup]="form" (submit)="forgotPassword()">
          <div class="form-group">
            <label for="email">Email</label>
            <div class="control-wrapper">
              <input name="email" class="form-control" formControlName="email" type="email" id="email"/>
            </div>

            <ng-container *ngIf="!controls.email.pristine && controls.email.invalid">

              <p class="error" style="margin-top: 4px;" *ngIf="controls.email.errors && controls.email.errors.required">
                {{ 'AUTH.SIGN_IN.MESSAGES.ERRORS.EMAIL.REQUIRED' | translate }}
              </p>
              <p class="error" style="margin-top: 4px;" *ngIf="controls.email.errors && controls.email.errors.email">
                {{ 'AUTH.SIGN_IN.MESSAGES.ERRORS.EMAIL.EMAIL' | translate }}
              </p>
            </ng-container>

            <ng-container *ngIf="errors">
              <ul class="list-none">
                <li *ngFor="let error of errors" class="error" style="margin-top: 4px;">{{ error }}</li>
              </ul>
            </ng-container>
          </div>

          <button type="submit" class="btn mt-6 btn-primary btn-full btn-radius" [disabled]="processing"> Send Reset Link</button>
        </form>

        <div class="text-center font-bold">
          <ion-nav-link routerLink="/auth" class="primary-color"> Back to Sign In page</ion-nav-link>
        </div>


      </ion-card-content>
    </ion-card>

  </div>


</div>
